
.products-grid{

    display: grid;

    grid-template-columns: repeat(4, 250px);

    gap: 30px;
    
    

}

.product-card{

    background: #17143d;

    border-radius: 18px;

    overflow: hidden;

    border: 1px solid rgba(255,255,255,.08);

    transition: .3s;

    display: flex;

    flex-direction: column;

}

.product-card:hover{

    transform: translateY(-8px);

    border-color: #3f6cff;

    box-shadow: 0 12px 30px rgba(63,108,255,.25);

    cursor: pointer;
}

.product-card img{

    width: 100%;

    height: 220px;

    object-fit: cover;

}

.product-card h3{

    font-size: 1.3rem;

    margin-left: 7px;

}

.product-card p{

    color: #edf2fc;

    font-size: 1.2rem;

    font-weight: bold;

   margin-left: 7px;

}


.product-card button{

    margin: auto 20px 20px;

    height: 45px;

    border: none;

    border-radius: 12px;

    background: #3f6cff;

    color: white;

    font-weight: bold;

    cursor: pointer;

    transition: .3s;

}

.product-card button:hover{

    background: #5d82ff;

}

#prod{
    margin-top: 25px;
    font-size: 35px;
}



@media (max-width: 768px) {

    #prod{
        text-align: center;
    }

    .products-grid{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 16px;
    }

    .product-card img{
        height: 160px;
    }

    .product-card h3{
        font-size: 1rem;
    }

    .product-card p{
        font-size: .9rem;
    }

    .product-card button{
        margin: 15px;
        height: 40px;
        font-size: .9rem;
    }

}